:root {
    --magnolia: hsl(217, 100%, 97%);
    --white: hsl(0, 0%, 100%);
    --pastel-blue: hsl(228, 100%, 84%);
    --marine-blue: hsl(213, 96%, 18%);
    --cool-gray: hsl(231, 11%, 63%);
    --alabaster: hsl(231, 100%, 99%);
    --strawberry-red: hsl(354, 84%, 57%);
    --purprish-blue: hsl(243, 100%, 62%);
}